<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script> localStorage.setItem = ("henrique", "22");</script>
    <script> src ="main.js"</script>
    <script> src ="storage.js"</script>
    
</head>
<body>
    
    
    <button onclick="seed()">seed</button>
    <button onclick="getClientes()">buscar todos</button>
    <button onclick="removeCliente()">remove</button>
    <button onclick="updateCliente()">update</button>
    
    
</body>
</html>